<!DOCTYPE html>
<html>
	<head>
	   <% include templates/head.ejs%>
	   <script src="/javascripts/appfrontend.js"></script>
	</head>
	<body>
		<h1 id="page-title"><%= title %></h1>
		<table id='Table' class="table">
			<% for(var i=0; i<rows.length; i++) { %>
				<tr>
					<td>Name</td>
					<td><%= rows[i].Name %></td>
				</tr>
				<tr>
					<td>Location</td>
					<td><%= rows[i].Location %></td>
				</tr>
				<tr>
					<td>Pic</td>
					<td>
						<div class="img-container img-btn">
							<!-- Button trigger modal -->
							<button type="button" class="hide" data-toggle="modal" data-target="#picModal" id='picButton'>
							</button>
							<img src='<%= rows[i].Pic %>' class="img-circle"></img>
						</div>
					</td>
				</tr>		
			<% } %>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="picModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><%= rows[0].Name %></h4>
		      </div>
		      <div class="modal-body">
		        <img src='<%= rows[0].Pic %>'></img>
		      </div>
		      <div class="modal-footer">
		        <!-- extra buttons
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		        -->
		      </div>
		    </div>
		  </div>
		</div>
	</body>
	<footer>
		<% include templates/footer.ejs%>
	</footer>
</html>